<!DOCTYPE html>
<html>
    <head>
        <style>
            #splashscreen {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #ffffff;
                z-index: 500;
            }
        </style>
    
    <link rel="stylesheet" type="text/css" href="../../src/bootstrap/css/bootstrap.min.css?v=1.0.0.0"  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../../src/bootstrap/css/font-awesome.min.css?v=1.0.0.0"/>
    <link rel="stylesheet" type="text/css" href="../../src/dxtreme/22.2.4/css/dx.common.css?v=1.0.0.0"/>
    <link rel="stylesheet" type="text/css" href="../../src/dxtreme/22.2.4/css/dx.generic.customclasic_v3.css?v=1.0.0.0"/>
    <link rel="stylesheet" type="text/css" href="../../styles/dna.mdi.call.center.min.css?v=1.0.0.0"/>
    <link rel="stylesheet" type="text/css" href="../../styles/PreloadBox.css"/>
    <script type="text/javascript" src="../../src/jQuery/jquery-3.6.0.min.js"> </script>
    <script type="text/javascript" src="../../src/bootstrap/js/bootstrap.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/dx.all.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/event.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/unresolved.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/currency.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/date.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/message.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/number.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/localization/dx.messages.es.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/localization/dx.messages.en.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/supplemental.min.js"> </script>
    <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/supplemental.v1.js"> </script>
    <script type="text/javascript" src="../../src/extralibs/jslinq.js"> </script>
    <script type="text/javascript" src="../../src/socket_io/2.3.0/socket.io.min.js"> </script>
        
    </head>
<body>
    <div id="splashscreen" class="FlexContainer-Column">
        <div id="preloader" style="display: block;">
            <div id="loader">
            <div id="shadow"></div>
            <div id="box"></div>
            <div id="TitlePlat">ANAM</div>
            <div id="txt_EstatusSession_new">Cargando Pantalla...</div>
            </div>
        </div>
    </div>
    <div id="loadPanel"></div>
    <div class="FlexContainer-Row" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; ">
            
            <div class="FlexContainer-Column container-shadow" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden;">
                <div class="FlexContainer-Column container-shadow" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden;">
                    <div class='heading_InnerFrm'><h2 id="_lbl_title_process">Autorizaciones pendientes</h2></div>
                    <div style="padding: 2px;"><h2 id="Form_Actualizar_Datos"></h2></div>
                    <div id="DG_Autorizaciones"></div>
                </div>

                <div class="FlexContainer-Column container-shadow" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden;">
                    <div class='heading_InnerFrm'><h2 id="_lbl_title_process">Autorizaciones resueltas (Ultimos 6 meses)</h2></div>
                    <div style="padding: 2px;"><h2 id="Form_Actualizar_Datos"></h2></div>
                    <div id="DG_Autorizaciones_Finalizadas"></div>
                </div>
                
            </div>
    
            <div class="FlexContainer-Column" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden;">
                <div class="FlexContainer-Column container-shadow" style="height: 510px; width: 100%;">
                    <div class='heading_InnerFrm'><h2 id="_lbl_title_process">Información</h2></div>
                    <iframe id="Mod_Embebed_Ticket_Autoriza" width="100%" height="100%" frameBorder="0" style=" flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1;"></iframe>
                </div>

                <div class="FlexContainer-Column container-shadow" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden;">
                    <div class='heading_InnerFrm'><h2 id="_lbl_title_process">Autorización</h2></div>
                    <div style="padding-left: 9px;padding-right: 9px;" id="Form_Editar_Autorizacion_Resp"></div>
                    
                </div>
                
                
            </div>
    </div>

    
    <script type="text/javascript" src="../../utils/Apis.min.js?v=1.0.0.0"> </script>
    <script type="text/javascript" src="../../utils/tools.min.js?v=1.0.0.0"> </script>
    <script type="text/javascript" src="../../utils/__utils.min.js?v=1.0.0.0"> </script>
    <script type="text/javascript" src="../../utils/DefaultLibs.js?v=1.0.0.0"></script>
    <script type="text/javascript" src="../../utils/moment.js?v=1.0.0.0"></script>
    <script type="text/javascript" src="../../utils/moment.tz.js?v=1.0.0.0"></script>
    <script type="text/javascript" src="../../src/socket_io/2.3.0/socket.io.min.js"></script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            var $d = ""; if (DeveloperType == "Produccion") {$d = ".compiled"} else {$d = ".dev"}; var Local =  "Pnt_Autorizador_Ticket";
            var cssFilesArrLocal = ["./"+Local+".css"];
            var jsFilesArrLocal = ["./"+Local+"_Dictionary.js","./"+Local+$d+".js"];
            setTimeout(() => {
                js(jsFilesArrLocal);
                css(cssFilesArrLocal);
            }, 3000);
        });
    </script>    
    
</body>
</html>
