<!DOCTYPE html>
<html>
    <head>
            
        <link rel="stylesheet" type="text/css" href="../../src/bootstrap/css/bootstrap.min.css?v=1.0.0.0"  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="../../src/bootstrap/css/font-awesome.min.css?v=1.0.0.0"/>
        <link rel="stylesheet" type="text/css" href="../../src/dxtreme/22.2.4/css/dx.common.css?v=1.0.0.0"/>
        <link rel="stylesheet" type="text/css" href="../../src/dxtreme/22.2.4/css/dx.generic.customclasic_v3.css?v=1.0.0.0"/>
        <link rel="stylesheet" type="text/css" href="../../styles/dna.mdi.call.center.min.css?v=1.0.0.0"/>
        <link rel="stylesheet" type="text/css" href="../../styles/PreloadBox.css"/>
        <script type="text/javascript" src="../../src/jQuery/jquery-3.6.0.min.js"> </script>
        <script type="text/javascript" src="../../src/bootstrap/js/bootstrap.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/dx.all.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/event.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/unresolved.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/currency.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/date.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/message.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/globalize/number.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/localization/dx.messages.es.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/localization/dx.messages.en.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/supplemental.min.js"> </script>
        <script type="text/javascript" src="../../src/dxtreme/22.2.4/js/cldr/supplemental.v1.js"> </script>
        <script type="text/javascript" src="../../src/extralibs/jslinq.js"> </script>
        
    </head>

    <body>
        
        <!--POP-->
        <div id="loadPanel"></div>

        <div id="Dialog_Ticket"></div>
        <div id="Dialog_Busqueda_Fecha"></div>
        <div id="Dialog_Busqueda_No_Ticket"></div>
        <div id="Dialog_Orden_Trabajo"></div>
        <div id="Pop_Select_Empleado_Reasigna"></div>

        <div id="Pop_Mesa_Ayuda_Config" style="display: flex; flex-direction: row;">
            <!--iframe id="Mod_Embebed_Mesa" width="100%" height="100%" frameBorder="0" style=" flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1;"></iframe-->
        </div>
        <!--POP-->
        
        
        <div id="splashscreen" class="FlexContainer-Column">
            <div id="preloader" style="display: block;">
                <div id="loader">
                <div id="shadow"></div>
                <div id="box"></div>
                <div id="TitlePlat">ANAM</div>
                <div id="txt_EstatusSession_new">Cargando Pantalla...</div>
                </div>
            </div>
        </div>

        


        <div class="FlexContainer-Row" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; ">
            <div class="FlexContainer-Column container-shadow" style="width: 320px;overflow: hidden;">
                <div class='heading_InnerFrm'><h2 id="adm_title_ms"></h2></div>
                <div id="treeTicketAdmin" style="padding: 5px;"></div>
                
            </div>

            <div class="FlexContainer-Column container-shadow" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden;">
                <div class="container-fluid" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden;">
                    <!--<div class="row">
                        <div id="Form_Btn_Alta_Ticket" style="width: 100%; padding: 5px;"></div> 
                    </div>-->
                    <div class="row" style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1; overflow: hidden; height: 100%;">
                        <div class='heading_InnerFrm' style="flex-shrink: 1;flex-basis: auto;flex: 1; flex-grow: 1;" ><h2>Grid Solicitudes</h2></div>
                        <div id="context_menu_asignacion"></div>
                        <div id="Data_Grid_Ticket_Admin" style="width: 100%; height: 100%; margin-top: -27px; padding-top: 27px;"></div> 
                    </div>
                    
                </div>
                           
            </div>
        </div>

        <script src="../../src/babel-polyfill/7.4.0/polyfill.min.js"></script>
        <script src="../../src/exceljs/4.1.1/exceljs.min.js"></script>
        <script src="../../src/filesaver/FileSaver.min.js"></script>
    
        <script type="text/javascript" src="../../utils/Apis.min.js?v=1.0.0.0"> </script>
        <script type="text/javascript" src="../../utils/tools.min.js?v=1.0.0.0"> </script>
        <script type="text/javascript" src="../../utils/__utils.min.js?v=1.0.0.0"> </script>
        <script type="text/javascript" src="../../utils/DefaultLibs.js?v=1.0.0.0"></script>
        <script type="text/javascript" src="../../utils/moment.js?v=1.0.0.0"></script>
        <script type="text/javascript" src="../../utils/moment.tz.js?v=1.0.0.0"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(event) {
                var $d = ""; if (DeveloperType == "Produccion") {$d = ".compiled"} else {$d = ".dev"}; var Local =  "Tickets_Asignacion";
                var cssFilesArrLocal = ["./"+Local+".css"];
                var jsFilesArrLocal = ["./"+Local+"_Dictionary.js","./"+Local+$d+".js"];
                setTimeout(() => {
                    js(jsFilesArrLocal);
                    css(cssFilesArrLocal);
                }, 3000);
            });
        </script>  
    
    </body>
</html>
