@font-face {
    font-family: "Roboto";
    src: url("../../src/dxtreme/22.2.4/css/fonts/Roboto-Light.ttf") format('truetype');
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../src/dxtreme/22.2.4/css/fonts/Roboto-Light.ttf") format('truetype');
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Segoe UI', 'Helvetica Neue', Helvetica, 'Trebuchet MS', Verdana;
    height: 100%;
    width: 100%;
    position: relative;
    min-width: 1024px;
    /*min-height: 600px;*/
}

.LoginWelcomeView{
    background-image: url('../../images/swiper_2.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-Login {
    padding: 65px 0px 0px 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.center-side{
    position: absolute;
    top: 45%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    background: #e5ebee; /* Old browsers */
    border: 1px dotted #1C6EA4;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    padding: 30px;
    box-sizing: border-box;
}

.logo-login {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 74px;
    position: absolute;
    top: -40px;
    left: 50%;
    -ms-transform: translate( -50%,0);
    transform: translate( -50%,0);
    -webkit-box-shadow: 0px 10px 10px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 10px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 15px;
    background-color: #ffffff;
}
.views-login {
    text-align: left;
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    left: 4px;
    bottom: 4px;
}

.custom-item {
    position: relative;
    min-height: 20px;
}
.dx-dropdowneditor-input-wrapper .custom-item > img {
    padding-left: 8px;
}
.custom-item .product-name  {
    display: inline-block;
    padding-left: 50px;
    text-indent: 0;
    line-height: 20px;
    font-size: 12px;
    width: 100%;
}
.custom-item > img {
    left: 1px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.dx-popup-title.dx-toolbar {
    background: rgb(102 202 234);
}


.dx-toolbar-label .dx-toolbar-item-content > div {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
}

.dx-popup-wrapper > .dx-overlay-content {
    border: 1px solid rgb(102 202 234);
    border-radius: 0px;
}

.dx-overlay-content .dx-popup-content {
    border: 4px solid rgb(102 202 234);
}

.dx-popup-title {
    border-bottom: none;
}


#__Form_Cambio_Password   .dx-layout-manager .dx-field-item:not(.dx-last-col) {
    padding-right: 3px;
}

#__Form_Cambio_Password   .dx-layout-manager .dx-field-item:not(.dx-first-col) {
    padding-left: 3px;
}


#__Form_Cambio_Password  .dx-layout-manager .dx-field-item:not(.dx-first-row) {
    padding-top: 4px;
}

.hidden_box {
    display: none;
}